<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="DEVSITENew Developments" stopProcessing="true">
                    <match url="^New_Development_Building_Warranties$" />
                    <action type="Rewrite" url="new-developments.asp" />
                </rule>
                <rule name="DEVSITEConversions" stopProcessing="true">
                    <match url="^Conversions_Building_Warranties$" />
                    <action type="Rewrite" url="conversions.asp" />
                </rule>
                <rule name="DEVSITESocial" stopProcessing="true">
                    <match url="^Social_Housing_Assocation_Building_Warranties$" />
                    <action type="Rewrite" url="social.asp" />
                </rule>
                <rule name="DEVSITERetrospective" stopProcessing="true">
                    <match url="^Retrospective_Building_Warranties$" />
                    <action type="Rewrite" url="retro.asp" />
                </rule>
                <rule name="DEVSITEPcc" stopProcessing="true">
                    <match url="^Professional_Consultants_Certificates_Architects_Certificate$" />
                    <action type="Rewrite" url="pcc.asp" />
                </rule>
                <rule name="DEVSITEOther cover" stopProcessing="true">
                    <match url="^Other_Building_Construction_Insurance$" />
                    <action type="Rewrite" url="other-cover.asp" />
                </rule>
                <rule name="DEVSITEFAQs" stopProcessing="true">
                    <match url="^Building_Warranties_Frequently_Asked_Questions$" />
                    <action type="Rewrite" url="faq.asp" />
                </rule>
                <rule name="DEVSITEConstruction News" stopProcessing="true">
                    <match url="^Building_Warranty_Construction_Sector_News$" />
                    <action type="Rewrite" url="news.asp" />
                </rule>
                <rule name="DEVSITETestimonials" stopProcessing="true">
                    <match url="^Latent_Defects_Client_Testimonials$" />
                    <action type="Rewrite" url="testimonials.asp" />
                </rule>
                <rule name="DEVSITEIntroducers" stopProcessing="true">
                    <match url="^Building_Warranty_Intoducers$" />
                    <action type="Rewrite" url="introducers.asp" />
                </rule>
                <rule name="DEVSITEWarranty" stopProcessing="true">
                    <match url="^Building_Warranty_Provders_$" />
                    <action type="Rewrite" url="providers.asp" />
                </rule>
                <rule name="DEVSITEAPI" stopProcessing="true">
                    <match url="^Building_Warranties_API_Devleopers$" />
                    <action type="Rewrite" url="developers.asp" />
                </rule>
                <rule name="DEVSITEComplaints" stopProcessing="true">
                    <match url="^Latent_Defects_Complaints_Procedure$" />
                    <action type="Rewrite" url="complaints.asp" />
                </rule>
                <rule name="DEVSITEPrivacy" stopProcessing="true">
                    <match url="^Latent_Defects_Privacy_Policy$" />
                    <action type="Rewrite" url="privacy.asp" />
                </rule>
                <rule name="DEVSITETerms" stopProcessing="true">
                    <match url="^Latent_Defects_Terms_Conditions$" />
                    <action type="Rewrite" url="terms.asp" />
                </rule>
				<rule name="DEVSITEsearch" stopProcessing="true">
                    <match url="^Provider_Search$" />
                    <action type="Rewrite" url="search.asp" />
                </rule>
				<rule name="DEVSITEquote" stopProcessing="true">
                    <match url="^Your_Quote$" />
                    <action type="Rewrite" url="quote.asp" />
                </rule>
				<rule name="DEVSITEabout" stopProcessing="true">
                    <match url="^Latent_Defects_About_Us$" />
                    <action type="Rewrite" url="about.asp" />
                </rule>
				<rule name="DEVSITEcontact" stopProcessing="true">
                    <match url="^Latent_Defects_Contact_Us$" />
                    <action type="Rewrite" url="contact.asp" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
