<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="New Developments" stopProcessing="true">
                    <match url="^New_Development_Building_Warranties$" />
                    <action type="Rewrite" url="new-developments.asp" />
                </rule>
                <rule name="Conversions" stopProcessing="true">
                    <match url="^Conversions_Building_Warranties$" />
                    <action type="Rewrite" url="conversions.asp" />
                </rule>
                <rule name="Social" stopProcessing="true">
                    <match url="^Social_Housing_Assocation_Building_Warranties$" />
                    <action type="Rewrite" url="social.asp" />
                </rule>
                <rule name="Retrospective" stopProcessing="true">
                    <match url="^Retrospective_Building_Warranties$" />
                    <action type="Rewrite" url="retro.asp" />
                </rule>
                <rule name="Pcc" stopProcessing="true">
                    <match url="^Professional_Consultants_Certificates_Architects_Certificate$" />
                    <action type="Rewrite" url="pcc.asp" />
                </rule>
                <rule name="Other cover" stopProcessing="true">
                    <match url="^Other_Building_Construction_Insurance$" />
                    <action type="Rewrite" url="other-cover.asp" />
                </rule>
                <rule name="FAQs" stopProcessing="true">
                    <match url="^Building_Warranties_Frequently_Asked_Questions$" />
                    <action type="Rewrite" url="faq.asp" />
                </rule>
                <rule name="Construction News" stopProcessing="true">
                    <match url="^Building_Warranty_Construction_Sector_News$" />
                    <action type="Rewrite" url="news.asp" />
                </rule>
                <rule name="Testimonials" stopProcessing="true">
                    <match url="^Latent_Defects_Client_Testimonials$" />
                    <action type="Rewrite" url="testimonials.asp" />
                </rule>
                <rule name="Introducers" stopProcessing="true">
                    <match url="^Building_Warranty_Intoducers$" />
                    <action type="Rewrite" url="introducers.asp" />
                </rule>
                <rule name="Warranty" stopProcessing="true">
                    <match url="^Building_Warranty_Provders_$" />
                    <action type="Rewrite" url="providers.asp" />
                </rule>
                <rule name="API" stopProcessing="true">
                    <match url="^Building_Warranties_API_Devleopers$" />
                    <action type="Rewrite" url="developers.asp" />
                </rule>
                <rule name="Complaints" stopProcessing="true">
                    <match url="^Latent_Defects_Complaints_Procedure$" />
                    <action type="Rewrite" url="complaints.asp" />
                </rule>
                <rule name="Privacy" stopProcessing="true">
                    <match url="^Latent_Defects_Privacy_Policy$" />
                    <action type="Rewrite" url="privacy.asp" />
                </rule>
                <rule name="Terms" stopProcessing="true">
                    <match url="^Latent_Defects_Terms_Conditions$" />
                    <action type="Rewrite" url="terms.asp" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
